.pagination {
  li a {
    border-radius: $global-rounded;
    &:hover{
      background-color: $turquoise;
      border-color: $turquoise;
      color: white;
      @include transition(background 0.2s ease-out, border-color 0.2s ease-out, color 0.2s ease-out);

    }
  }
  li.unavailable a:hover{
    background-color: $clouds;
  }
}