/*
Syntax error: Undefined variable: "$primary-color".
        on line 1 of /Users/amit/Dropbox/code/experiments/foundation/flat-ui/sass/buttons.scss, in `button-effect'
        from line 18 of /Users/amit/Dropbox/code/experiments/foundation/flat-ui/sass/buttons.scss

1: /Users/amit/Dropbox/code/experiments/foundation/flat-ui/sass/buttons.scss

Backtrace:
/Users/amit/Dropbox/code/experiments/foundation/flat-ui/sass/buttons.scss:1:in `button-effect'
/Users/amit/Dropbox/code/experiments/foundation/flat-ui/sass/buttons.scss:18
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/script/variable.rb:49:in `_perform'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/script/node.rb:40:in `perform'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:56:in `block in perform_arguments'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:50:in `zip'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:50:in `perform_arguments'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:261:in `visit_mixin'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:318:in `visit_rule'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:126:in `visit_root'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/root_node.rb:20:in `render'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/engine.rb:315:in `_render'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/engine.rb:262:in `render'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `call'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `run_callback'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/fssm-0.2.10/lib/fssm/path.rb:55:in `callback_action'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/fssm-0.2.10/lib/fssm/path.rb:35:in `update'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/fssm-0.2.10/lib/fssm/state/directory.rb:39:in `block in modified'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `each'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `modified'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/fssm-0.2.10/lib/fssm/state/directory.rb:18:in `refresh'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:30:in `block in temporary_multipath_handler'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:27:in `each'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:27:in `temporary_multipath_handler'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:17:in `block (2 levels) in run'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:16:in `each'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:16:in `block in run'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/rb-fsevent-0.9.2/lib/rb-fsevent/fsevent.rb:43:in `call'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/rb-fsevent-0.9.2/lib/rb-fsevent/fsevent.rb:43:in `run'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:20:in `run'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/fssm-0.2.10/lib/fssm/monitor.rb:26:in `run'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/fssm-0.2.10/lib/fssm.rb:70:in `monitor'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:87:in `perform'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/bin/compass:44:in `call'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/bin/compass:19:in `load'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/bin/compass:19:in `<main>'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/bin/ruby_noexec_wrapper:14:in `eval'
/Users/amit/.rvm/gems/ruby-1.9.3-p286/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$primary-color\".\A         on line 1 of /Users/amit/Dropbox/code/experiments/foundation/flat-ui/sass/buttons.scss, in `button-effect'\A         from line 18 of /Users/amit/Dropbox/code/experiments/foundation/flat-ui/sass/buttons.scss\A \A 1: /Users/amit/Dropbox/code/experiments/foundation/flat-ui/sass/buttons.scss"; }
